html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    meta(name='author' content='Dashboard')
    meta(name='keyword' content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title Bienvenido Invocador
    style 
      include ../lib/bootstrap/css/bootstrap.min.css
      include ../css/zabuto_calendar.css
      include ../lib/gritter/css/jquery.gritter.css
      include ../css/style.css
      include ../css/style-responsive.css
section#container
  header.header.black-bg
    a.logo(href='index.html')
      b
        span RulasVrdz
    #top_menu.nav.notify-row
      ul.nav.top-menu
        li.dropdown
          a.dropdown-toggle(href='/')
            | Inicio
        li.dropdown
          a.dropdown-toggle(href='/me')
            | Perfil
        li.dropdown
          a.dropdown-toggle(href='index.html#')
            | Maestrias
        li.dropdown
          a.dropdown-toggle(href='index.html#')
            | Clash
        li.dropdown
          a.dropdown-toggle(href='index.html#')
            | Maestria por campeon
        li.dropdown
          a.dropdown-toggle(href='index.html#')
            | Rankeds