include header.pug

section#main-content
    section.wrapper
      .row.mt
        .col-lg-12
          .form-panel
            h4.mb
              i.fa.fa-angle-right
              |  Bienvenido
            form.form-horizontal.style-form(action='/me',method='get')
              .form-group
                label.col-sm-2.col-sm-2.control-label Nombre de invocador:
                .col-sm-8
                  input.form-control(type='text', name='me')
                button.btn.btn-theme(type='submit', value='Submit') Entrar

include footer.pug
    