include header.pug

section#main-content
  section.wrapper.site-min-height
    .row.mt
      .col-lg-12
        .row.content-panel
          .col-md-4.profile-text
          .col-md-4.centered
            .profile-pic
              p
                img.img-circle(src='http://ddragon.leagueoflegends.com/cdn/' + version + '/img/champion/' + champ + '.png')
              h3= champ
              p Maestria: #[b= `${level}`]
              p Puntos: #[b= `${points}`]

footer.site-footer
  .text-center
    p Url usada: 
    p Info: #[b= `${url}`]

    .credits
      | Created with Dashio template by 
      a(href='https://templatemag.com/') TemplateMag

include footer.pug