include header.pug

section#main-content
  section.wrapper.site-min-height
    each match in matches
        .row.mt
            .col-lg-12
                .row.content-panel
                    .col-md-4
                    .col-md-4.centered
                        .profile-pic
                            p Servidor: #[span= `${match.platformId}`] 
                            h3 Linea: #[span= `${match.lane}`]
                            h4 Temporada: #[span= `${match.season}`]
                            
                    
footer.site-footer
  .text-center
    p Url usada: 
    p Info: #[b= `${url}`]

    .credits
      | Created with Dashio template by 
      a(href='https://templatemag.com/') TemplateMag

include footer.pug